.Row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 900px) {
  .Row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
  }
}

.Column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
@media (min-width: 600px) {
  .Column {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media (min-width: 900px) {
  .Column {

  }
}