.wrapper{
    text-align: center;
    span{
        font-weight: 400;
        font-size: 40px;
        color: #ba933e; 
    }
    .link{
        text-transform: uppercase;
        border-radius: 5px;
        width: 150px;
        color: #fff;
        background-color: #ba933e;
        margin-left: 20px;
        margin-top: 20px;
        &:hover{
            color:#1a1a1a;
        }
    }
    .empty{
        padding-top: 100px;
        padding-bottom: 300px;
    }
}

.favList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
    list-style-type: none;
    .favItems{
        margin-right: 20px;
        text-align: center;
    }
    img{
        cursor: pointer;
    }
    h2{
        color: #666666;
        font-size: 16px;
        text-transform: uppercase;
    }
    p{
        color: #ba933e;
        font-size: 20px;
    }
    .btn{
        cursor: pointer;
    }
    .flexbox{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        div{
            font-size: 20px;
            display: flex;
            margin-right: 10px;
        }
    }
}