.container{
    width: 95%;
    margin: 0 auto;
    font-family: 'Red Hat Display'
}
 
  .account{
   margin-bottom: 20px;

    &Title{
        font-size: 30px;
        color: #1a1a1a;
        text-align: center;
    }
    &Subtitle{
        text-align: center;
    }
    &LinkWrapper{
        display:flex;
        width: 100%;
        margin: 20px auto;
        justify-content: space-between;       
    }
    &Link{
        font-family: 'Red Hat Display';
        font-size: 18px;
        text-decoration: none;
        color: #fff;
        text-align: left;      
        
        padding: 5px 10px;
        background-color: #444444;
        border-radius: 5px;
        box-sizing: border-box;
        // border: 1px solid #BA933E;
        &:hover,:active{
            background-color: #BA933E;       
        }
    }
    &ContentWrapper{
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        width: 100%;
        list-style: none;
        margin-top: 20px;
        margin-bottom: 20px;
        @media  (min-width: 600px){
            grid-template-columns: repeat(2, minmax(30%, auto)); 
        }
    }
    &Item{
        border-radius: 5px;
        padding: 20px;
        background-color:#f1f1f1;       

        &Title{
            color: #ba933e;
            margin-bottom: 5px;
        }

        &Text, span{
            color: #666666;
            margin-bottom: 5px;
        }
        &Orders{
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
}
         
    button{
        color: #ffffff;
        background-color: #1a1a1a;
        border-radius: 5px;
        border: none;
        padding: 5px;
        margin-top: 10px;
        margin-right: 5px;
        cursor: pointer;

        &:hover {
            background-color: #ba933e;
            transition: all .35s ease;
          }
    }




