.Select {
  width: auto;
  background-color: #F5F5F5;
  padding: 10px 30px 10px 20px;
  border: none;
  font-family: 'Red Hat Display';
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  color: #333;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
}
