.Card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: center;
  width: 250px;
  padding-bottom: 30px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;

  &:hover &Button {
    display: flex;
    flex-direction: column;
  }

  &Img {
    width: 100%;
  }

  &Button {
    display: none;
    position: absolute;
    top: 5%;
    right: 10%;

    &Icon:hover {
      background-color: #ba933e;
      color: #F5F5F5;
      transition: all .5s ease;
    }

  }

  &Description {
    margin-top: 20px;

    &Name {
      text-transform: capitalize;
      font-family: 'Red Hat Display';
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #444444;
      margin-bottom: 10px;;
    }
    &Name:hover{
      color:#ba933e;
      transition: all .5s ease;
    }

    &Price {
      font-family: 'Red Hat Display';
      font-weight: 400;
      font-size: 14px;
      color: #666;
      line-height: 20px;

    }
  }
}
.Row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: center;
  width: 250px;
  padding-bottom: 30px;
  box-sizing: border-box;
  cursor: pointer;
  &Img {
    width: 100%;
  }
}
