.Container {
    color: red;
}

.Card {
    padding: 15px 0;

    &ImgWrapper {
        width: 25%;
        margin-right: 20px;

    }

    &Img {

        object-fit: fill;

    }

    &Option {

        // max-height: 145px;

        &Section {
            display: flex;
            justify-content: space-between;
        }

        &Name {
            font-weight: 500;
            font-size: 18px;
            color: #1a1a1a;
        }

        &TotalPrice {
            color: #666666;
            font-size: 20px;
            font-weight: 600;
            display: none;
        }

        &Color {
            color: #444444;
            font-size: 14px;
            margin: 0;

            line-height: 24px;
            font-weight: 400;
        }

        &Desription {
            color: #444444;
            font-size: 16px;
            margin: 0px 0px 11.5px;
            line-height: 24px;
            font-weight: 400;
        }

        &Price {
            font-size: 18px;
            color: #666;
            font-weight: 400;
            line-height: 14px;
            // margin: 0;
            margin-bottom: 11.5px;
        }

        &Container {
            display: flex;
            justify-content: space-between;

            &Remove {
                color: #1a1a1a;
                background-color: #fff;
                border: 2px solid #e1e1e1;
                font-weight: 700;
                font-size: 18;
                margin-right: 10px;
                border-radius: 4px;
                cursor: pointer;
                padding: 9px 20px;
                transition: all .35s ease;

                &:hover {
                    color: #fff;
                    background-color: #ba933e;
                    border: 2px solid #ba933e;
                }

            }

            &Count {

                display: flex;
                justify-content: space-between;


                // &Minus {
                //      background-color: #f5f5f5;                   
                //     cursor: pointer;
                //     color: #1a1a1a;                    
                // }

                &Sign {
                    background-color: #f1f1f1;
                    cursor: pointer;
                    color: #1a1a1a;
                    font-size: 24px;
                    padding: 4px 10px;
                    margin: 0;
                }

                &Value {

                    background-color: #f5f5f5;
                    color: #1a1a1a;
                    text-align: center;
                    font-size: 24px;
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }
        }
    }
}

.Line {
    border-bottom: 1px solid #e1e1e1;
}

@media (min-width: 600px) {

    .Card {
        display: flex;

        &Img {
            width: 121px;
            height: 145px;
        }

        &Option {
            width: 100%;

            &TotalPrice {
                display: inherit;
            }

            // &Section{
            //     background-color: red;
            // }



        }
    }
}