.img {
  text-align: left;
  margin-left: 10px;
}

.containerForm {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 991px) {
  .containerForm {
    display: flex;
    flex-direction: row;
  }
}
