.P {
  display: inline-block; /* Строчно-блочный элемент */
  position: relative; /* Относительное позиционирование */
  &:hover::after {
    content: attr(data-title);
    position: absolute; /* Абсолютное позиционирование */
    left: 20%;
    top: 110%; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: grey; /* Полупрозрачный цвет фона */
    font-family: Roboto; /* Гарнитура шрифта */
    font-size: 8px; /* Размер текста подсказки */
    padding: 0 10px; /* Поля */
    border: 1px solid #333; /* Параметры рамки */
    color: white;
  }
}