.box{
    padding: 60px 60px;
    margin: 0;
    background: black;
    // width: 100%;
  
    @media (max-width: 1000px) {
      padding: 50px 30px;
    }
  }
  
  .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      width: 100%;
  }
  
  .row{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      @media (max-width: 990px) {
        margin-left: 100px;
      }
  }
  
  .column{
    display: flex;
    flex-direction: column;
    margin-left:  auto;
}
  
  a,p,u{
    color:#666666;
    margin-bottom: 20px;
    font-size: 16px;
    text-decoration: none;

    @media (max-width: 990px) {
      padding: 0;
      margin: 10px;
      font-size: 14px;
    }
     
    &:hover {
        color: #ba933e;
        transition: 200ms ease-in;
    }
  }
  
  .head{
    font-size: 16px;
    color: #fff;
    margin-bottom: 40px;
    font-weight: bold;

    @media (max-width: 990px) {
      padding: 0;
      margin: 10px;
      font-size: 14px;
    }
  }
  
  .social{
    display: flex;
    justify-content: space-between;
  }