.container{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;

    h2{
        font-size: 30px;
        color: #1a1a1a;
    }

    h3{
        cursor: pointer;
    }

    p{
        color: #666666;
    }
}

.flexWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div{
        margin: 10px;
        position: relative;

        &:hover{
            zoom: 0.9;
        }

        span{
            position: absolute;
            left: 20px;
            top: 20px;
            background-color: #ba933e;
            color: #fff;
            padding: 3px 7px;
            border-radius: 5px;
        }

        img{
            width: 322px;
            height: 400px;
            cursor: pointer;
        }

        p{
            color: #ba933e;
        }

        s{
            color: #666666;
        }
    }
}