.btnWrapper{
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 5%;
   right: 7%;

   &Icon{
     cursor: pointer;
     padding:10px;
     border-radius:5px ;
     background-color:#ffffff;
     margin-bottom: 10px;
     font-size: 20px;
     z-index: 1;

     @media (max-width:600px) {
        font-size: 10px;
        padding: 5px;
        margin-bottom: 5px;
    }
     
     &:hover {  
       background-color: #ba933e; 
       color: #F5F5F5;
     }
   }
}

.wrapper{    
        margin: 10px;
        position: relative;

        // .sale{
        //     position: absolute;
        //     left: 20px;
        //     top: 20px;
        //     background-color: #ba933e;
        //     color: #fff;
        //     padding: 3px 7px;
        //     border-radius: 5px;
        // }

        img{
            cursor: pointer;
            z-index: 0;

            @media (max-width:600px) {
                width: 150px;
                height: 190px;
            }
            @media (min-width:601px) {
                width: 250px;
                height: 300px;
            }
            @media (min-width:901px) {
                width: 322px;
                height: 400px;
            }

            &:hover{
                opacity: 0.2;
                transition: opacity 0.25s ease-in-out;
            }
        }

        p{
            color: #ba933e;
        }

        s{
            color: #666666;
        }
    
}