.List {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Item {
  display: flex;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;

  &Title {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &Name {
      font-family: "Red Hat Display", sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      color: #1A1A1A;
      text-transform: capitalize;

      &:hover {
        color: #ba933e;
        transition: all .35s ease;
      }
    }

    &Price {
      font-family: "Red Hat Display", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #666;
    }
  }

}