.Card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: center;
  width: 250px;
  padding-bottom: 30px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  margin-left: 10px;

  &:hover &Button {
    display: flex;
    flex-direction: column;
  }

  &Img {
    width: 100%;
  }

  &Button {
    display: none;
    position: absolute;
    top: 5%;
    right: 10%;

    &Icon{
      color:black;
      &:hover {
        background-color: #ba933e;
        color: #F5F5F5;
        transition: all .5s ease;
      }
    }


  }

  &Description {
    margin-top: 20px;

    &Name {
      text-transform: capitalize;
      font-family: 'Red Hat Display';
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #444444;
      margin-bottom: 10px;

      &:hover {
        color: #ba933e;
        transition: all .5s ease;
      }
    }

    &Container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &Price {
        font-family: 'Red Hat Display';
        font-weight: 400;
        font-size: 14px;
        color: #666;
        line-height: 20px;
      }

      &Label {
        display: flex;
        flex-direction: row;
        list-style: none;

        li img {
          width: 20px;
          border-radius: 45%;
          margin-left: 5px;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .Card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    list-style: none;
    justify-content: space-evenly;
    width: 250px;
    padding-bottom: 30px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    margin-left: 10px;

    &:hover &Button {
      display: flex;
      flex-direction: column;
    }

    &Img {
      width: 100%;
    }

    &Button {
      display: none;
      position: absolute;
      top: 5%;
      right: 10%;

      &Icon{
        font-size: 30px;
        padding:10px;
        border-radius:5px ;
        background-color:#ffffff;
        margin-bottom: 10px;
        :hover {
          background-color: #ba933e;
          color: #ffffff;
          transition: all .5s ease;
        }
      }



    }

    &Description {
      margin-top: 20px;

      &Name {
        text-transform: capitalize;
        font-family: 'Red Hat Display';
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #444444;
        margin-bottom: 10px;

        &:hover {
          color: #ba933e;
          transition: all .5s ease;
        }
      }

      &Container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &Price {
          font-family: 'Red Hat Display';
          font-weight: 400;
          font-size: 14px;
          color: #666;
          line-height: 20px;
        }

        &Label {
          display: flex;
          flex-direction: row;
          list-style: none;

          li img {
            width: 20px;
            border-radius: 45%;
            margin-left: 5px;
          }
        }
      }
    }
  }
}

.Row {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: center;
  padding-bottom: 30px;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;

  &Img {
    width: 100%;
  }

  &Description {
    display: flex;
    flex-direction: column;
    padding: 20px 0;

    &Name {
      font-family: 'Red Hat Display';
      font-weight: 700;
      font-size: 24px;
      line-height: 20px;
      color: #444444;
      text-transform: capitalize;
      margin-bottom: 20px;
    }

    &Price {
      font-family: 'Red Hat Display';
      font-weight: 400;
      font-size: 20px;
      color: #666666;
      line-height: 20px;
    }

    &Label {
      display: flex;
      flex-direction: row;
      list-style: none;
      padding-top: 15px;

      li img {
        width: 30px;
        border-radius: 50%;
        margin-right: 5px;
      }

    }

    &Param {
      font-family: 'Red Hat Display';
      font-weight: 400;
      font-size: 16px;
      color: #868686;
      line-height: 24px;
      padding-top: 20px;
    }
  }

  &Nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &Button {
      font-family: 'Red Hat Display';
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      background-color: #1A1A1A;
      padding: 10px 5px;
      margin: 10px 0;
      color: #ffffff;
      width: 100%;
      border: none;
      cursor: pointer;
      border-radius: 4px;
      &:nth-child(3){
        display: none;
      }
    }
  }
}

@media (min-width: 600px) {
  .Row {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    &Img {
      min-width: 130px;
      max-height: 170px;
      width: 20%;
    }

    &Description {
      display: flex;
      flex-direction: column;
      padding: 20px 0;
      margin-left: 20px;
      width: 72%;
    }

    &Nav {
      width: 100%;
    }
  }
}

@media (min-width: 900px) {
  .Row {
    flex-wrap: nowrap;
    list-style: none;

    &Img {
      max-height: 200px;
      width: 150px;
    }

    &Description {
      &Name {
        &:hover {
          color: #ba933e;
          transition: all .5s ease;
        }
      }
    }

    &Nav {
      width: 25%;

      &Button {
        width: 150px;

        &:hover {
          background-color: #ba933e;
          transition: all .5s ease;
        }
        &:nth-child(3){
          display: block;
        }
        &:nth-child(4){
          display: none;
        }
      }
    }
  }
}
